.table-coins {
    width: 100%;
    height: fit-content;
    color: white;
    border-spacing: 0;

    &__row {

        &--head {
            text-transform: uppercase;
        }

        &--body {
            font-size: 0.9rem;

            &:hover {
                cursor: pointer;
                background-color: #21212e;
            }
        }
    }

    &__col {
        padding: 5px 0;

        &:nth-child(2) {
            text-align: left;
            display: flex;
            gap: 0.3rem;
        }
    }

    &__avatar {
        height: 24px;
        width: 24px;
    }
}