.coinInfo {
    padding: 20px 15px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#coins {
    width: 100%;
    height: fit-content;
    color: white;

    & > thead > tr {
        height: 40px;
        text-transform: uppercase;
    }

    & > tbody > tr {
        font-size: 0.9rem;

        &:hover {
            cursor: pointer;
            background-color: grey;
        }

        & > th:nth-child(2) {
            text-align: left;
        }
    
        & > th:nth-child(9) {
            display: flex;
            justify-content: space-around;
        }         
    
        & > th:nth-child(2) {
            display: flex;
            gap: 0.3rem;
    
            & > img {
                height: 24px;
                width: 24px;
            }
        }
    }
}

