.button {
    min-width: 50px;
    height: 25px;

    border: 0;
    border-radius: 5px;

    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 1rem;

    filter: drop-shadow(2px 2px 0px black);
    
    &:hover {
        background-color: rgb(40, 40, 40);
        color: white;
        cursor: pointer;
    }

    &:active {
        background-color: rgb(50, 50, 50);
    }
}