.home {
    height: 100%;
    width: 100%;
    display: flex;
    font-family: "opensans", Arial, Helvetica, sans-serif;
    background-color: rgb(40 40 55);
    position: relative;
    z-index: 1;
    overflow: auto;

    &__wrapper {
        height: calc(100vh - 50px);
        width: 100%;
        color: white;
        padding: 20px 15px 0;
        box-sizing: border-box;
    }
}