.addCoin {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;

    &--active {
        opacity: 1;
        pointer-events: auto;
    }

    &__body {
        padding: 20px;
        border-radius: 20px;
        background-color: rgb(40, 40, 40);
        filter: drop-shadow(0 0 20px b);
    }

    &__info {
        color: white;
        text-transform: uppercase;
        padding: 0 0 20px 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;

        &-coin {
            color: goldenrod;
        }
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &--input {
            height: 30px;
            border-radius: 15px;
            background-color: rgb(40, 40, 40);
            outline: 0;
            color: white;
            font-size: 1rem;
            padding: 0 12px;
        }
    }
}